.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 20% 80%;
}

.Layout>h1,h2,h3,h4,h5,h6,p,a {
    font-family: Arial;
}

header, footer {
    grid-column: span 2;
}

header, aside, main, footer{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

