.ProductCard {
    width: 200px;
    display: inline-flex;
    text-align: left;
    background-color: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

    cursor: pointer;
}

.ProductCard img {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: middle;
}

.ProductCard>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProductCard>div:last-child {
    margin-left: auto;
}
