.TotalEmployees{
box-sizing: border-box;
    border-radius: 15px;
    background: #d1e4e6;
    padding: 10px;
    margin:10px;
}
.TotalEmployees p{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}
