.EditEmployee{
    width: 70%;
    display: inline-block;
}


img {
    width: 240px;
    height: 360px;
    margin: 10px auto;
}

.EditEmployee{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 30px;
}

.EditEmployee >form{
    width: 70%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.EditEmployee >form>*{
    margin: 20px;
    padding: 10px;
}
