.Menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    align-items: center;
    justify-content: start;
}

.nav-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.nav-link.active {
    color: #455b85;
    font-size: 16px;
}

.menu-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial;
    font-size: 20px;
    color: gray;
    margin-bottom: 60px;
}

.menu-header i {
    font-size: 16px;
}