.Menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-top: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.nav-link.active {
    color: #1e7d8c;
}

.nav-link:hover{
    color: rgba(30, 125, 140, 0.38);
}
